/* Base Styles */
@font-face {
  font-family: "brain_wants";
  src: url("../fonts/brain_wants.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bradley Hand ITC";
  src: url("../fonts/BRADHITC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Theme Variables */
  --font-default: "brain_wants", sans-serif;
  --font-primary: "brain_wants", sans-serif;
  --font-secondary: "Nunito", sans-serif;
  --font-tertiary: "Bradley Hand ITC", sans-serif;

  --color-default: #ffffff;
  --color-primary: #03a0fc;
  --color-secondary: #00449d;

  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
}

a {
  color: var(--color-default);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  padding: 2rem 0;
  background-color: #03a0fc;
  a {
    color: var(--color-default) !important;
    font-weight: 400;
  }
}
.navbar {
  color: var(--color-default) !important;
  background-color: #03a0fc !important;
}
.header .logo img {
  max-height: 2rem;
}

.header .logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-default);
  margin-bottom: 0;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}
/* Add this to your custom CSS file */
.navbar-toggler-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255%2C%20255%2C%20255%2C%200.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
/*--------------------------------------------------------------
# Responsive navigation
--------------------------------------------------------------*/
@media (min-width: 991px) {
  .header {
    a {
      margin-right: 2rem;
      font-size: 1rem;
    }
  }
  .navbar .schedule-pickup {
    background-color: var(--color-default);
    color: var(--color-secondary) !important;
    padding: 1rem;
    border-radius: 18px;
  }
}
@media (min-width: 1280px) {
  .header {
    a {
      margin-right: 2rem;
      font-size: larger;
    }
  }
  .header .logo img {
    max-height: 3rem;
  }
  .navbar {
    margin: 0 8rem 0 8rem;
  }
  .header .logo img {
    max-height: 3rem;
  }
  .navbar .schedule-pickup {
    background-color: var(--color-default);
    color: var(--color-secondary) !important;
    padding: 20px;
    border-radius: 18px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 1rem 0;
  }
  .navbar .nav-item-button {
    padding-top: 0.5rem !important;
  }
}
/* this is added due to bootstrap nav icon appearance */
@media (max-width: 991.7px) {
  .navbar-mobile-view {
    align-items: start !important;
    padding-top: 1rem;
  }
  .navbar .nav-item-button {
    padding-top: 0.5rem !important;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: linear-gradient(90deg, #03a0fc 0%, #00449d 80.1%);
  color: var(--color-default);
  padding: 40px 0;
  a {
    color: var(--color-default);
    text-decoration: none;
    transition: 0.3s;
  }

  a:hover {
    text-decoration: underline;
  }

  .logo {
    img {
      width: 10rem;
    }
  }

  .social-icons a {
    padding-right: 1rem; /* Spacing between icons */
  }

  .social-icons svg:hover {
    fill: #ddd;
  }
  .social-icons a:hover {
    text-decoration: none;
  }

  .footer-links a {
    display: block;
    margin-bottom: 10px;
  }

  .location summary {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  details > summary {
    list-style-type: none;
  }
  .phone {
    font-size: 14px;
    margin-top: 5px;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    .container {
      padding-left: 2rem;
    }
    .top-section {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      margin-bottom: 15px;
      display: flex;
      justify-content: start;
      width: 100%;
    }
    .social-icons {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-top: 15px;
      gap: 10px;
    }

    .location summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-radius: 1rem;
      padding-right: 1rem;
    }

    .location summary::-webkit-details-marker {
      display: none;
    }

    .location summary::after {
      content: "▶";
      transition: transform 0.3s ease;
      font-size: 14px;
    }
    .location details[open] summary::after {
      transform: rotate(90deg);
    }
  }
}

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  .hero-bubble-left {
    position: absolute;
    top: 60vh;
    width: 20%;
    left: 0;
  }
  .hero-bubble-right {
    position: absolute;
    right: 0;
    width: 35%;
  }
  .container {
    position: relative;
    background-color: var(--color-primary);
    color: white;
    clip-path: ellipse(85% 100% at top);
    min-width: 100vw;
    height: 130vh;
    /* height: 150vh; */
    .strikethrough {
      position: relative;
    }
    .strikethrough:before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      right: 0;
      border-top: 10px solid;
      border-color: var(--color-secondary);
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
    .card {
      height: 15%;
      width: 60%;
      font-size: small;
      border-radius: 1.5rem;
      margin-top: 4rem;
      .input-line {
        border-right: 2px solid var(--color-primary);
      }
      .input-card-custom {
        height: 100%;
        font-size: xx-large;
        font-family: var(--font-secondary);
        color: var(--color-secondary);
        font-weight: 400;
      }
      .input-card-custom::placeholder {
        color: var(--color-secondary);
      }
      .select-card-custom {
        font-size: xx-large;
        font-family: var(--font-secondary);
        color: var(--color-secondary);
      }
      .select-card {
        display: flex;
        width: 40%;
        margin-right: 2rem;
        justify-content: space-between;
        .location-icon {
          width: 2.5rem;
          height: 100%;
        }
      }
      .select-card :hover {
        cursor: pointer;
      }
      .button-card-custom {
        display: flex;
        align-items: center;
        width: 25%;
        justify-content: center;
        background-color: var(--color-secondary);
        border-radius: 1rem;
        font-size: x-large;
      }
      .discount-badge {
        position: absolute;
        top: -2rem;
        right: -3rem;
        width: 6rem; /* Adjust size as needed */
      }
      .discount-badge img {
        width: 100%;
      }
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: var(--font-primary);
    width: 100%;
    font-weight: 400;
    align-items: center;
    height: 80vh;
    z-index: 1;
  }
  .hero-text {
    width: 80%;
    font-size: 6rem;
    text-align: center;
  }
  .services-list {
    font-size: 2rem;
    margin: 4rem 1rem;
    font-family: var(--font-secondary);
    align-items: center;
    div {
      display: flex;
      align-items: center;
    }
  }
  .about-us {
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
    .about-us-title {
      font-size: 6rem;
    }
  }
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.about-us-section {
  height: auto;
  margin-bottom: 10rem;
  .comparison-section {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-evenly;
    margin-bottom: 6rem;
  }
  .image-container {
    display: flex;
    gap: 20px;
  }
  .image-card {
    background: white;
    padding: 15px;
    box-shadow: 0px 17px 37px 0px rgba(0, 68, 157, 0.2);
    border-radius: 12px;
    text-align: center;
    width: 25rem;
    transition: transform 0.3s ease-in-out;
    &.after-card {
      transform: rotate(12deg) translateY(20px);
    }
    &.before-card {
      transform: rotate(-12deg) translateY(-60px);
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }
  .image-label {
    font-family: var(--font-tertiary);
    font-size: 3rem;
    color: var(--color-secondary);
    margin-top: 10px;
  }
  .nav-button {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-default);
    font-size: 30px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 20px 35.5px 0px rgba(0, 68, 157, 0.44);
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    &.left-button {
      margin-left: 1rem;
    }
    &.right-button {
      margin-right: 1rem;
    }
    img {
      width: 1.2rem;
    }
  }
}

/* Animation keyframes for rotation on update */
@keyframes rotateBefore {
  0% {
    transform: translateX(-60rem) translateY(20rem) rotate(-90deg); /* start far left */
  }
  100% {
    transform: rotate(-12deg) translateY(-60px);
  }
}

@keyframes rotateAfter {
  0% {
    transform: translateX(60rem) translateY(20rem) rotate(90deg); /* start far left */
  }
  100% {
    transform: rotate(12deg) translateY(20px);
  }
}

/* Animation class that triggers the keyframes */
.before-card.animate {
  animation: rotateBefore 0.6s ease-in-out;
}

.after-card.animate {
  animation: rotateAfter 0.6s ease-in-out;
}

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats-section {
  display: flex;
  margin-bottom: 6rem;
  justify-content: center;
  gap: 60px;
  text-align: center;
}
.stat-item h2 {
  font-size: 6rem;
  color: var(--color-secondary);
}
.stat-item p {
  font-family: var(--font-secondary);
  font-size: 3rem;
  color: var(--color-primary);
  margin: 5px 0;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services-title {
  font-size: 6rem;
  font-weight: 400;
  color: var(--color-secondary);
  /* margin: 3rem 0; */
  text-align: center;
}
.services-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.service-card {
  width: 20%;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  position: relative;
}
.service-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.service-label {
  color: var(--color-default);
  font-size: 1.2rem;
  padding: 0.5rem;

  font-family: var(--font-secondary);
  font-weight: 500;
  margin: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(3, 160, 252, 0.38);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.service-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); */
}
.more-services-button {
  border: none;
  color: var(--color-default);
  background: var(--color-secondary);
  border-radius: 0.5rem;
  padding: 0.8rem;
}

/*--------------------------------------------------------------
# Section 4
--------------------------------------------------------------*/
.section4 {
  margin-bottom: 6rem;
  padding: 2rem;
  margin-top: 6rem;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-title {
    text-align: center;

    font-size: 6rem;
    margin-bottom: 1.5rem;
    color: var(--color-secondary);
  }
  .services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 6rem;
  }
  .services-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 3rem 0;
    font-family: var(--font-secondary);
    flex: 1 1 300px;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
  .services-list li {
    margin-bottom: 0.5rem;
  }
  .services-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .express-service {
    text-align: center;
    margin-bottom: 6rem;
  }
  .express-image {
    max-width: 100%;
    height: auto;
  }
  .express-button {
    background-color: var(--color-secondary);
    color: var(--color-default);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
  }
}

/*--------------------------------------------------------------
# Section 5
--------------------------------------------------------------*/
.section5 {
  margin-bottom: 6rem;
  .promo-section {
    position: relative;
    overflow: hidden;
  }
  .promo-banner {
    position: relative;
    width: 80%;
    text-align: center;
  }
  .promo-image {
    width: 100%;
    height: 40vh;
    display: block;
    border-radius: 3rem;
    object-fit: cover;
  }
  .promo-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .promo-content h2 {
    font-size: 3.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
  }
  .promo-content p {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    margin-bottom: 1.5rem;
  }
  .promo-button {
    background-color: var(--color-secondary);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 767.98px) {
  .section5 {
    .promo-image {
      height: 45vh;
    }
    .promo-content {
      width: inherit;
    }
    .promo-content h2 {
      font-size: 2rem;
    }
    .promo-content p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1212px) {
  .section5 {
    .promo-content {
      width: inherit;
    }
    .promo-content h2 {
      font-size: 3rem;
    }
    .promo-content p {
      font-size: 1.5rem;
    }
  }
}

/*--------------------------------------------------------------
# Section 6
--------------------------------------------------------------*/
.section6 {
  margin-bottom: 6rem;
  text-align: center;
  .franchise-section {
    padding: 2rem 1rem;
    text-align: center;
  }
  .franchise-content {
    max-width: 800px;
    margin: 0 auto;
  }
  .franchise-title {
    font-size: 4rem;
    color: var(--color-secondary);

    margin-bottom: 1rem;
  }
  .franchise-text {
    font-size: 2rem;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    margin-bottom: 1.5rem;
  }
  .franchise-button {
    background-color: var(--color-secondary);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
  }
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 767.98px) {
  .hero {
    .container {
      clip-path: ellipse(180% 100% at top);
      height: 120vh;
      .strikethrough:before {
        border-top: 4px solid;
        border-color: var(--color-secondary);
      }
      .card {
        display: none !important;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-family: var(--font-primary);
      width: 100%;
      font-weight: 400;
      align-items: center;
      height: 80vh;
      z-index: 1;
    }
    .hero-text {
      width: 80%;
      font-size: 3rem;
      text-align: center;
    }
    .services-list {
      font-size: large;
      font-family: var(--font-secondary);
      align-items: center;
      flex-direction: column;
      div {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        .services-icon {
          width: large;
          height: large;
        }
      }
    }
    .about-us {
      font-size: 2rem;
      text-align: center;
      margin-top: 0;
      .about-us-title {
        padding: 1.5rem 1rem;
        font-size: 3rem;
      }
    }
  }
  .about-us-section {
    background: linear-gradient(to bottom, 30%, #fff 30%);
    margin: 3rem 1rem 10rem 1rem !important;
    .comparison-section {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }
    .nav-button {
      &.left-button {
        margin-left: 0.5rem;
      }
      &.right-button {
        margin-right: 0.5rem;
      }
    }
    .image-container {
      flex-direction: column;
      align-items: center;
      width: 70%;
    }
    .image-card {
      width: 90%;
    }
    .after-card {
      transform: rotate(0deg) translateY(0px) !important;
    }

    .before-card {
      transform: rotate(0deg) translateY(0px) !important;
    }
  }
  .stats-section {
    gap: 2rem;
    margin-bottom: 6rem;

    flex-direction: column;
    .stat-item h2 {
      font-size: 4rem;
    }
    .stat-item p {
      font-family: var(--font-secondary);
      font-size: 2rem;
      color: var(--color-primary);
      margin: 5px 0;
    }
  }
  .services-title {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-secondary);
    /* margin: 3rem 1rem; */
    text-align: center;
  }
  .services-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .service-card {
      width: 80%;
      border-radius: 20px;
      overflow: hidden;
      background: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .service-card img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .service-label {
      color: var(--color-default);
      font-size: 1.2rem;
      padding: 0.5rem;

      font-family: var(--font-secondary);
      font-weight: 500;
      margin: 0;
      position: absolute;
      bottom: 0px;
      width: 100%;
      background: rgba(3, 160, 252, 0.38);
      border-radius: 0.5rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }

    .service-card:hover {
      transform: none;
    }
  }

  .section4 {
    .section-title {
      font-size: 4rem;
    }
    .services-list {
      list-style-type: disc;
      margin-left: 2rem;
      padding: 0;
      font-size: 1.5rem;
      color: var(--color-primary);
    }
    .services-list li {
      margin-bottom: 0.5rem;
    }
    .services-image {
      flex: 1 1 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .services-image img {
      max-width: 70%;
      height: auto;
      border-radius: 8px;
    }
    .express-service {
      text-align: center;
      margin-top: 4rem;
    }
    .express-image {
      max-width: 100%;
      height: auto;
    }
    .express-button {
      background-color: var(--color-secondary);
      color: var(--color-default);
      border: none;
      padding: 0.75rem 1.5rem;
      cursor: pointer;
      border-radius: 4px;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      margin-top: 1rem;
    }
  }
  .section6 {
    padding: 0 4rem;
    .franchise-title {
      font-size: 3rem;
    }
    .franchise-text {
      font-size: 1.5rem;
    }
  }
}

/*--------------------------------------------------------------
# Media Queries for Medium Devices
--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1212px) {
  .hero {
    .container {
      clip-path: ellipse(150% 100% at top);
      height: 110vh;
      .strikethrough:before {
        border-top: 4px solid;
        border-color: var(--color-secondary);
      }

      .card {
        display: none !important;
        height: auto;
        width: auto;
        font-size: small;
        border-radius: 2rem;
        margin-top: 4rem;
        align-items: center;
        flex-direction: column;
        .input-line {
          border-right: none;
          width: auto;
        }
        .input-card-custom {
          height: 100%;
          font-size: large;
          font-family: var(--font-secondary);
          color: var(--color-secondary);
          font-weight: 400;
        }
        .input-card-custom::placeholder {
          color: var(--color-secondary);
        }
        .select-card-custom {
          font-size: large;
          font-family: var(--font-secondary);
          color: #00449d;
        }
        .select-card {
          display: flex;
          width: 40%;
          justify-content: space-between;
          .location-icon {
            width: 3rem;
            height: 100%;
          }
        }
        .button-card-custom {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-secondary);
          width: 20%;
          margin-left: 2rem;
          font-size: large;
        }
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-family: var(--font-primary);
      width: 100%;
      font-weight: 400;
      align-items: center;
      height: 80vh;
      z-index: 1;
    }
    .hero-text {
      width: 100%;
      font-size: 4rem;
      text-align: center;
    }
    .services-list {
      font-size: large;
      font-family: var(--font-secondary);
      align-items: center;
      flex-direction: column;
      div {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        .services-icon {
          width: large;
          height: large;
        }
      }
    }
    .about-us {
      font-size: 2rem;
      text-align: center;
      .about-us-title {
        padding: 1.5rem 1rem;
        font-size: 2.5rem;
      }
    }
  }
  .about-us-section {
    background: linear-gradient(to bottom, 30%, #fff 30%);
    margin: 4rem 1rem 4rem 1rem !important;
    .comparison-section {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }
    .image-container {
      flex-direction: column;
      align-items: center;
      width: 70%;
    }
    .image-card {
      width: 90%;
    }
    .after-card {
      transform: rotate(0deg) translateY(0px) !important;
    }

    .before-card {
      transform: rotate(0deg) translateY(0px) !important;
    }
  }
  .stats-section {
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 6rem;

    .stat-item h2 {
      font-size: 4rem;
    }
    .stat-item p {
      font-family: var(--font-secondary);
      font-size: 2rem;
      color: var(--color-primary);
      margin: 5px 0;
    }
  }
  .services-title {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-secondary);
    /* margin: 3rem 1rem; */
    text-align: center;
  }
  .services-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .service-card {
      width: 80%;
      border-radius: 20px;
      overflow: hidden;
      background: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .service-card:hover {
      transform: scale(1.05);
      transition: 0.3s ease-in-out;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    }
  }
}

/*--------------------------------------------------------------
Franchise page
--------------------------------------------------------------*/
.franchise {
  .hero-section {
    background: radial-gradient(
      111.25% 77.21% at 50.02% 27.24%,
      var(--color-primary) 0%,
      var(--color-primary) 51%,
      var(--color-secondary) 100%
    );

    color: #fff;
    padding: 5rem 1rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 6rem;

    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hero-content h3 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    margin-bottom: 0;
  }

  .franchise-section {
    padding: 3rem 1rem;
    color: var(--color-primary);
  }

  .franchise-container {
    max-width: 70vw;
    margin: 0 auto;
  }

  .franchise-heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .franchise-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .franchise-text {
    flex: 1 1 400px;
    font-family: var(--font-secondary);
    line-height: 1.5rem;
    text-align: justify;
    color: var(--color-secondary);
  }

  .franchise-text h2 {
    font-family: var(--font-primary);
    color: var(--color-primary);

    margin-bottom: 1rem;
  }

  .franchise-list {
    list-style-type: disc;
    margin: 1rem 0 0 1.5rem;
  }

  .franchise-image {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .franchise-image img {
    max-width: 80%;
    height: auto;
  }

  .info-section {
    color: var(--color-secondary);
    padding: 0rem 1rem;
  }

  .info-section-container {
    max-width: 70vw;
    margin: 0 auto;
  }

  .section-title {
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  .section-list {
    list-style: decimal;
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: justify;
  }
  .list-style-alt {
    list-style: disc;
  }
  .section-text {
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: justify;
  }

  /* Sample Pictures Grid */
  .sample-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .sample-pictures img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
  }
}

@media (max-width: 767.98px) {
  .franchise {
    .hero-section {
      padding: 5rem 2rem;
      text-align: center;
    }

    .hero-content h1 {
      font-size: 3rem;
    }

    .hero-content h3 {
      font-size: 1rem;
    }
    .franchise-heading {
      font-size: 2rem;
    }

    .franchise-content {
      flex-direction: column;
      align-items: center;
    }

    .franchise-text,
    .franchise-image {
      flex: 1 1 100%;
    }
    .franchise-content {
      flex-direction: column;
    }
    .franchise-list,
    .section-list {
      padding: 0;
    }

    .franchise-image {
      order: -1;
    }
    .section-title {
      font-size: 1.5rem;
    }
  }
}

/*--------------------------------------------------------------
Our Process page
--------------------------------------------------------------*/
.process-page {
  .hero-section {
    background: radial-gradient(
      111.25% 77.21% at 50.02% 27.24%,
      var(--color-primary) 0%,
      var(--color-primary) 51%,
      var(--color-secondary) 100%
    );

    color: #fff;
    padding: 5rem 1rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 6rem;

    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hero-content h3 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    margin-bottom: 0;
  }
  .process-section1 {
    padding: 3rem 1rem;
    color: var(--color-primary);
  }
  .process-heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .features-section {
    color: var(--color-secondary); /* Adjust to your brand color */
    padding: 0 1rem 3rem 1rem;
  }

  .features-container {
    max-width: 70vw;
    margin: 0 auto;
  }

  .feature-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 3rem;
  }

  .feature-text h3 {
    margin: 0 0 0.5rem;
    color: var(--color-primary);
    font-size: 1.5rem;
  }

  .feature-text ul {
    margin: 0;
    line-height: 2rem;
    text-align: justify;
    margin-right: 4rem;

    font-size: large;
  }

  .feature-icon img {
    width: 8rem;
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .process-page {
    .hero-section {
      padding: 5rem 2rem;
      text-align: center;
    }

    .hero-content h1 {
      font-size: 4rem;
    }

    .hero-content h3 {
      font-size: 1.2rem;
    }
    .process-heading {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .feature-text ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .feature-item {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .feature-icon {
      order: -1;
      margin-bottom: 1rem;
    }
  }
}

/*--------------------------------------------------------------
Schedule pickup form 1 page
--------------------------------------------------------------*/
.schedule-step1-page {
  .hero-section {
    background: radial-gradient(
      111.25% 77.21% at 50.02% 27.24%,
      var(--color-primary) 0%,
      var(--color-primary) 51%,
      var(--color-secondary) 100%
    );

    color: #fff;
    padding: 4rem 1rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 5rem;

    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hero-content h3 {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    margin-bottom: 0;
  }
  .hero-content-highlight {
    color: var(--color-secondary);
  }

  .pickup-form-section {
    padding: 3rem 1rem;
    text-align: center;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
  }

  .pickup-form-container {
    max-width: 600px;
    margin: 0 auto;
  }

  /* Heading */
  .pickup-form-title {
    font-size: 2rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    color: var(--color-secondary);
  }
  .pickup-form-subtitle {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  .pickup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .pickup-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='blue'><path d='M7 10l5 5 5-5z'/></svg>")
      no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    border: 1px solid #ccc;
  }

  .pickup-form select:hover {
    cursor: pointer;
  }

  .pickup-form input,
  .pickup-form select,
  .pickup-form textarea {
    width: 100%;
    font-weight: 400;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 17px 37px 0px rgba(0, 68, 157, 0.1);
    color: var(--color-secondary);
    outline: none;
  }

  .pickup-form input::placeholder,
  .pickup-form textarea::placeholder,
  .pickup-form select option {
    color: var(--color-secondary);
  }

  /* Button */
  .pickup-form button {
    background-color: var(--color-secondary); /* Adjust to your brand color */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.2rem 3rem;
    font-size: 1.8rem;
    cursor: pointer;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
  }

  .pickup-form button:hover {
    background-color: var(--color-secondary); /* Slightly darker on hover */
  }
}

@media (max-width: 767.98px) {
  .schedule-step1-page {
    .hero-section {
      padding: 5rem 2rem;
      text-align: center;
    }

    .hero-content h1 {
      font-size: 4rem;
    }

    .hero-content h3 {
      font-size: 1.2rem;
    }
    .pickup-form-title {
      font-size: 1.4rem;
    }

    .pickup-form {
      gap: 1rem;
    }
  }
}

/*--------------------------------------------------------------
Schedule pickup submit page
--------------------------------------------------------------*/
.schedule-step5-page {
  .hero-section {
    background: radial-gradient(
      111.25% 77.21% at 50.02% 27.24%,
      var(--color-primary) 0%,
      var(--color-primary) 51%,
      var(--color-secondary) 100%
    );

    color: #fff;
    padding: 4rem 1rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 5rem;

    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hero-content h3 {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    margin-bottom: 0;
  }
  .hero-content-highlight {
    color: var(--color-secondary);
  }

  .pickup-form-section {
    padding: 3rem 1rem;
    text-align: center;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
  }

  .pickup-form-container {
    margin: 0 auto;
    max-width: 45vw;
  }
  .schedule-submit-img {
    width: 15rem;
  }
  .pickup-form-subtitle {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  .btn-primary {
    background-color: var(--color-secondary);
    border: none;
    padding: 0.2rem 3rem;
    border-radius: 8px;
    font-size: 1.8rem;
  }
  .btn-primary:hover {
    background-color: var(--color-secondary);
  }
}

@media (max-width: 767.98px) {
  .schedule-step5-page {
    .hero-section {
      padding: 5rem 2rem;
      text-align: center;
    }

    .hero-content h1 {
      font-size: 4rem;
    }

    .hero-content h3 {
      font-size: 1.2rem;
    }

    .pickup-form-container {
      max-width: 80vw;
    }
  }
}

/*--------------------------------------------------------------
Services page
--------------------------------------------------------------*/
.services_page {
  .hero-section {
    background: radial-gradient(
      111.25% 77.21% at 50.02% 27.24%,
      var(--color-primary) 0%,
      var(--color-primary) 51%,
      var(--color-secondary) 100%
    );

    color: #fff;
    padding: 5rem 1rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 6rem;

    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hero-content h3 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    margin-bottom: 0;
  }

  .services-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .service-page-card {
    width: 100%;
    border-radius: 2rem;
    height: 100%;
    position: relative;
    cursor: pointer;
  }
  .services-gallery select {
    cursor: pointer;
  }
  /* Overlay text */
  .service-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 1.5rem;

    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .object-fit-cover {
    object-fit: cover;
  }
}

@media (max-width: 767.98px) {
  .services_page {
    .hero-section {
      padding: 5rem 2rem;
      text-align: center;
    }

    .hero-content h1 {
      font-size: 4rem;
    }

    .hero-content h3 {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  .service-page-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
}
/*--------------------------------------------------------------
Services1 page
--------------------------------------------------------------*/
.services_and_pricing {
  .service-section-container {
    position: relative;
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 62%,
      rgba(255, 255, 255, 1) 90%
    );
  }
  .service-section-container img {
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: -1;
  }
  .service-section-hero {
    position: absolute;
    bottom: 8px;
    left: 10%;
    text-align: left;
  }
  .service-section-hero-title {
    font-size: 6rem;
    color: var(--color-secondary);
  }
  .service-section-hero p {
    font-size: 1.5rem;
    color: var(--color-secondary);
    max-width: 80%;
    text-align: justify;
  }
  /* Main Section Wrapper */
  .service-listing {
    color: var(--color-secondary);
    text-transform: capitalize;
    padding: 2rem;
  }

  .service-listing-wrapper {
    max-width: 80vw;
    margin: 0 auto;
  }

  .service-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .tag {
    border: 3px solid rgba(3, 160, 252, 1);
    padding: 0.5rem 1rem;
    border-radius: 4rem;

    cursor: pointer;
  }

  .service-lists {
    display: flex;
    gap: 2rem;
  }

  .service-list-left {
    flex: 1;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 1rem;
    border-right: 1px solid #ddd;
  }

  .service-list-left:hover {
    cursor: default;
  }

  /* Category Section */
  .service-category {
    margin-bottom: 2rem;
  }

  .category-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  /* Category Items */
  .category-items {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: var(--font-secondary);
    border-top: 1px solid #ddd; /* top boundary line */
  }

  .category-items li {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    color: var(--color-primary);
    border-bottom: 1px solid #ddd; /* line between items */
  }

  .item-price {
    color: var(--color-primary);
  }

  .other-services-title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .other-services-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .other-services-list li {
    margin-bottom: 0.5rem;
    a {
      color: var(--color-primary);
    }
  }

  .service-list-left::-webkit-scrollbar {
    width: 8px;
  }

  .service-list-left::-webkit-scrollbar-track {
    background: #f2f5fc;
  }

  .service-list-left::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}
@media (max-width: 767.98px) {
  .services_and_pricing {
    .service-section-hero-title {
      max-width: 80%;
      font-size: 3rem;
    }

    .service-section-hero p {
      font-size: 1rem;
      max-width: 80%;
    }
    .service-lists {
      flex-direction: column;
    }

    .service-list-left {
      max-height: 70vh;
      border-right: none;
      margin-bottom: 2rem;
    }

    .service-list-right {
      width: 100%;
    }
  }
}
